.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #324860;
  font-size: 1.6rem;
  width: 400px;
  padding: 12px 8px;
  color: #ffffff;
  gap: 8px;
  margin-top: 16px;
}

.button:hover {
  background-color: #566d86;
}
